$backgroundColor: #e9ebed;
$whiteColor: #ffffff;
$blackColor: #292b30;
$actionsColor: #ec4833;
$labelColor: #679b2f;
$cashbackColor: #fdeeb9;
$textColor: #787e8e;
$secondTextColor: #232e48;
$messageColor: #94d1f4;
$borderColor: red;
$shadowColor: rgba(0, 0, 0, 0.5);
$buttonColor: #4aa852;
